# annotated-types==0.7.0
# anyio==4.10.0
# click
# fastapi==0.117.1
# h11==0.16.0
# idna==3.10
# pydantic==2.11.9
# pydantic_core==2.33.2
# sniffio==1.3.1
# starlette==0.48.0
# typing-inspection==0.4.1
# typing_extensions==4.15.0
# uvicorn==0.36.0
# scikit-learn==1.4.2
# nltk==3.9.1
# seaborn==0.13.2
# pandas==2.0.3
# matplotlib==3.9.2
# pytest==8.4.2
# httpx==0.28.1

annotated-types
anyio
click
fastapi
h11
idna
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
scikit-learn
nltk
seaborn
pandas
matplotlib
pytest
httpx

